.car-image {
  height: 90px;
  width: 150px;
}
.button-remove {
  background: transparent;
  border: none;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.form-data {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.row {
  display: flex;
  margin-top:2em;
}
.row > label {
  margin-right: 2em;
  text-align: right;
  flex:1;
  font-size:1.5em;
}

.row > input {
  padding:0.7em;
  flex:2
}

.btn-cadastrar {
  padding:1em;
  width: 50%;
  font-size: 1.3em;
  flex:2;
  background-color:rgb(68, 90, 40);
  color:#fff;
  border: 0;
}

#div_form {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
